@page "/animales/nueva"
@page "/animales/editar/{id:int}"
@rendermode InteractiveServer
@inject NavigationManager _navigator; 
@inject IRepositorioAnimales _repositorio;
<h2>@_mensaje Animal</h2>
<EditForm Model="_animal" FormName="frmAnimal" OnInvalidSubmit="Guardar">
    <DataAnnotationsValidator />
    <div class="row mb-3">
        <label for="txtNombre" class="col-2 col-form-label">Nombre</label>
        <div class="col-10">
            <InputText id="txtNombre" class="form-control" @bind-Value="_animal.Especie" />
            <ValidationMessage For="@(() => _animal.Especie)" />
        </div>
    </div>
    <button type="submit" class="btn btn-primary" @onclick="Guardar">Guardar</button>
    <button class="btn btn-danger ms-3" @onclick="Cancelar" @onclick:preventDefault>Cancelar</button>
</EditForm>

@code {
    [Parameter]
    public int Id { get; set; }
    private string _mensaje = "";
    private Animal? _animal = new();

    protected override async Task OnInitializedAsync()
    {
        if (Id > 0)
        {
            _animal = await _repositorio.Get(Id);
            _mensaje = "Modificar";
        }
        else
        {
            _mensaje = "Nueva";
        }
    }

    private async Task Guardar()
    {
        if (Id > 0)
        {
            await _repositorio.Update(Id, _animal);
        }
        else
        {
            await _repositorio.Add(_animal);
        }
        Cancelar();
    }

    private void Cancelar()
    {
        _navigator.NavigateTo("/animales");
    }
}
