@page "/areas/nueva"
@page "/areas/editar/{id:int}"
@rendermode InteractiveServer
@inject NavigationManager _navigator; 
@inject IRepositorioAreas _repositorio;
<h2>@_mensaje Area</h2>
<EditForm Model="_area" FormName="frmArea" OnInvalidSubmit="Guardar">
    <DataAnnotationsValidator />
    <div class="row mb-3">
        <label for="txtNombre" class="col-2 col-form-label">Nombre</label>
        <div class="col-10">
            <InputText id="txtNombre" class="form-control" @bind-Value="_area!.Nombre" />
            <ValidationMessage For="@(() => _area.Nombre)" />
        </div>
    </div>
    <button type="submit" class="btn btn-primary" @onclick="Guardar">Guardar</button>
    <button class="btn btn-danger ms-3" @onclick="Cancelar" @onclick:preventDefault>Cancelar</button>
</EditForm>

@code {
    [Parameter]
    public int Id { get; set; }
    private string _mensaje = "";
    private Area? _area = new();

    protected override async Task OnInitializedAsync()
    {
        if (Id > 0)
        {
            _area = await _repositorio.Get(Id);
            _mensaje = "Modificar";
        }
        else
        {
            _mensaje = "Nueva";
        }
    }

    private async Task Guardar()
    {
        if (Id > 0)
        {
            await _repositorio.Update(Id, _area!);
            _navigator.NavigateTo("/areas");
        }
        else
        {
            await _repositorio.Add(_area!);
            _navigator.NavigateTo("/areas");
        }
        
    }

    private void Cancelar()
    {
        _navigator.NavigateTo("/areas");
    }
}
